
    body {  
  font-family: 'Inter', sans-serif;
    color:antiquewhite;
    }
    * {
  list-style: none;
}

#wrapper{


    background-image: url('https://wallpapercave.com/wp/ke5GFrZ.jpg');
    width:100%;
    height:100vh;

}


#root{
    height: auto;
    width:250px;
    border: 1px solid white;
    border-radius: 20px;
}


p {
  font-family: 'Inter', sans-serif;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.4s;
}