.tittle{
  text-align: center;
}

.list{

  text-align: center;
}

input{
  border:1px solid gray;
  border-radius: 30px;
  width: 50%;
  height: 20px;
}

button{
  border-radius: 30px;
 border:1px solid gray;
  height: 20px;
  font-size: small;
  text-align: center;
  
}

.list_item{
  text-align: left;
  opacity: 0.5;
  border-radius: 30px;
}

.icon{
  color: white;
}